.footer {
    background-color: #333;
    padding: 20px;
    color: white;
    text-align: center;
  }
  
  .social-links {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
  }
  
  .social-links li a {
    text-decoration: none;
    color: white;
  }