@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  vertical-align: baseline;
  font-size: 100%;
}

html {
  font-family: Poppins;
}

body {
  width: 100%;
  background: #0e0e0e;
}
a {
  text-decoration: none;
}
